{% extends "base2.html.jinja" %}

{% block title %}Crear Examen{% endblock %}

{% block content %}
<div class="add">
    <h1>Crear Examen</h1>
    <form method="POST" action="/crear_examen">
        <label for="codigo">Código:</label>
        <input type="text" id="codigo" name="codigo" required><br>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="categoria">Categoría:</label>
        <input type="text" id="categoria" name="categoria" required><br>


       <!--<select id="categoria" name="categoria" required>
        {% for categoria in categorias %}
            <option value="{{ categoria }}">{{ categoria }}</option>
        {% endfor %}
    </select><br>--> 

        <label for="tipo_muestra">Tipo de Muestra:</label>
        <input type="text" id="tipo_muestra" name="tipo_muestra" required><br>

        <label for="precio">Precio (Bs):</label>
        <input type="number" id="precio" name="precio" required><br>

        <label for="indicaciones">Indicaciones:</label>
        <select id="indicaciones" name="indicaciones">
            <option value="">Seleccionar</option>
            {% for indicacion in indicaciones %}
                <option value="{{ indicacion }}">{{ indicacion }}</option>
            {% endfor %}
        </select>
        
        <input type="text" id="nueva_indicacion" name="nueva_indicacion" placeholder="Nueva indicación (opcional)"><br>
        <button type="button"> Crear </button>
    </form>
</div>
{% endblock %}

